# python stuffs
__pycache__
*.egg-info
build/

# symlinks ignore
data
impute5

# outputs ignore
data/
models/
features/
preds/
figs/
figs_*/
impute5/
wandb/

# and other outputs probably
*.pt
*.pth
*.pdf
*.out
*.csv
*.gz*
*.bed
*.h5
*.arrow
*.json
*.npy
